<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <div class="login">
       <form id ="login-form">
        
       <label>EMAIL</label>
       <input type="email" placeholder="enter your email" id="email-id">

       <label>PASSWORD</label>
       <input type="password" placeholder="enter your password" id="password-id">

       <button type="submit" class="primary-btn" id="primary-btn-id">Login</button>
        <p id="error-msg" style="color: red;"></p>
       <p class="auth-switch">
        Don't have an account.
        <a href="{{url_for('signup')}}">Signup</a>
       </p>

</form>

    </div>
    <script type="module" src="{{url_for('static',filename='js/firebase.js')}}"></script>
    <script type="module" src="{{url_for('static',filename='js/auth.js')}}"></script>
    
</body>
</html>