<div class="sidebar" id="sidebar">

    <h2>StudySync</h2>

    <nav>
        <a href="/home">Dashboard</a>
        <a href="/study">Study</a>
        <a href="/tasks">Tasks</a>
        <a href="#">Calendar</a>
    </nav>

    <div class="profile-section">

    <div class="profile-header" id="profileToggle">
        <div class="profile-icon">👤</div>
        <span id="profileName">User</span>
    </div>

    <div class="profile-dropdown" id="profileDropdown">
        <button id="logoutBtn">Sign Out</button>
    </div>

</div>

</div>

<script type="module" src="{{url_for('static',filename='js/sidebar.js')}}"></script>